@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: all 0.3s ease;
}

.dark-theme {
  background: #050816;
  color: white;
}

.light-theme {
  background: #f3f4f6;
  color: black;
}